fastapi
uvicorn[standard]
python-multipart
pillow
pytesseract
bcrypt
itsdangerous
tldextract
requests
regex
numpy

# QR Scanner
opencv-python-headless
pyzbar

# CPU PyTorch only (IMPORTANT)
torch==2.2.1+cpu
torchvision==0.17.1+cpu
torchaudio==2.2.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# NLP / Transformers
transformers
huggingface-hub
sentence-transformers
scikit-learn